@model MarkdownModel
@{
    ViewBag.IncludeFacebookScripts = false;
}
<div class="panel panel-default">
    <div class="panel-heading">
        Table of Contents
    </div>
    <div id="toc" class="panel-body"></div>
</div>

@Html.DisplayFor(m => m.Content)