/******************
    Element styles
******************/

body
{
    padding: 0px;
    margin: 0px;
}

img
{
    border-style: none;
}

p
{
    padding-top: 5px;
    padding-bottom: 5px;
}

fieldset
{
    margin: 5px 1px 5px 0px;
    padding: 5px 5px 5px 5px;
}

/****************** 
    Facebook styles 
    http://devtacular.com/articles/bkonrad/how-to-style-an-application-like-facebook/ 
******************/

h1, h2, h3, h4, h5, legend
{
    font-size: 13px;
    color: #333;
    margin: 0px;
    padding: 0px;
}
h1
{
    font-size: 14px;
}
h4, h5
{
    font-size: 11px;
}

.fbbody
{
    width: 710px;
    padding-left: 28px;
}

/* Default Facebook CSS */
.fbbody, .fbbody input
{
    font-family: "lucida grande" , tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
}
/* Default Anchor Style */
.fbbody a
{
    color: #3b5998;
    outline-style: none;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
}
.fbbody a:hover
{
    text-decoration: underline;
}

/****************** 
    general styles 
******************/
.hidden
{
    display: none;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.clear
{
    clear: both;
}

.menu
{
    margin-top: 1em;
    margin-bottom: 1em;
}

.footer
{
    color: #999;
    margin-top: 1em;
}

div.form label
{
    display: block;
}

/****************** 
    Index styles 
******************/
#profileDiv #steamUserIdHeading
{
    font-size: 200%;
}
#profileDiv #profileImage
{
    width: 69px;
    height: 69px;
    padding: 0 5px 5px 0;
}

#gamesDiv ul
{
    padding-left: 1em;
}
#gamesDiv ul li.game
{
    float: left;
    text-align: center;
    padding: 5px;
    margin: 0px;
    list-style-type: none;
    width: 215px;
    height: 115px;
}
#gamesDiv ul li.game img
{
    display: inline-block;
    width: 184px;
    height: 69px;
    margin: 0px;
    padding: 0px;
}

/****************** 
    Publish styles 
******************/
#newAchievements ul
{
    padding-left: 1em;
}
#newAchievements ul li
{
    display: block;
    list-style-type: none;
}
.unpublished li.game 
{
    height: 2em;
    width: 695px;
    clear: both;
}
.unpublished li.game h3
{
    font-size: 150%;
}
.unpublished li.achievement
{
    float: left;
    height: 74px;
    padding: 0px;
    margin: 5px;
    border: 1px solid #fff;
    width: 320px;
}
.unpublished .selected
{
    background-color: #fff9d7;
    border: 1px solid #e2c822;
}
.unpublished .achievement input
{
    display: none;
}
.unpublished .achievement img
{
    vertical-align: middle;
    width: 64px;
    height: 64px;
    margin: 5px;
}
.unpublished .achievement .text
{
    margin: 5px;
}
.unpublished .achievement .name
{
    display: block;
    font-size: 125%;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.unpublished .achievement .description
{
    display: block;
}

fieldset.settings
{
    padding: 1em;
}

/* publish dialog anchor hack */
#middleAnchor
{
    position: absolute;
    display: block;
    text-decoration: none;
    color: #fff;
}

/****************** 
    validation 
******************/
.field-validation-error, .validation-summary-errors
{
    color: Red;
}

/****************** 
    jquery UI message 
******************/
.message-dismiss
{
    padding-left: 0.5em;
    font-weight: normal;
    color: #999;
}
.message-container
{
    padding: 0.5em;
    line-height: 1em;
}
.message-container p
{
    padding: 0 1em;
}
.message-container p .ui-icon
{
    margin-right: .3em;
}
