@{
    ViewBag.Title = "Deauthorize";
}
<h2>
    Deauthorize</h2>
<div id="deauthorizeSuccess">
    Facebook Steam Achievements has been removed. We hope you'll try us again!
</div>
<script type="text/javascript">
    $(document).ready(function ()
    {
        $("#deauthorizeSuccess").message({ type: "info" });
    });
</script>
