packages
**/bin
**/obj
*.user
*.suo
SteamAchievements.Web/App_Data/Config
SteamAchievements.Web/App_Data/elmah
*.db
/.vs
/SteamAchievements.Web/Properties/PublishProfiles
/SteamAchievements.Web/node_modules
/SteamAchievements.Web/Scripts/lib
