<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="facebookSettings" type="Facebook.FacebookConfigurationSection, Facebook"/>
  </configSections>
  <connectionStrings>
    <add name="SteamAchievements.Data.Properties.Settings.steamConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Steam.mdf;Integrated Security=True;User Instance=True"/>
  </connectionStrings>
  <facebookSettings appId="your_app_id" appSecret="your_api_secret" canvasPage="http://apps.facebook.com/your_canvas_url/" canvasUrl="http://your.domain.com/"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0"/>
      </dependentAssembly>
    	<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Facebook" publicKeyToken="58CB4F2111D1E6DE" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.26.0" newVersion="5.0.26.0"/>
			</dependentAssembly>
		</assemblyBinding>
  </runtime>
</configuration>
