@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="panel">
        <!-- TODO: style me -->
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>