@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="login-box">
        <!-- TODO: style me -->
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}