@{
    ViewBag.Title = "Log On";
}
<h2>
    Log On with Facebook</h2>
<div>
    <fb:login-button></fb:login-button>
</div>
<input id="LogOnView" type="hidden" />
<div id="logOnError">
</div>