@model string
<div class="icon-container">
    <div class="ui-corner-all ui-btn ui-btn-icon-notext ui-btn-corner-all ui-shadow">
        <a class="profile-url" href="#" target="_blank"><span class="ui-btn-inner ui-btn-corner-all">
            <span class="ui-icon ui-icon-@Model"></span></span></a>
    </div>
</div>
