@Html.CanvasLink(Strings.MenuHome, "")
|
@Html.CanvasLink(Strings.MenuPublish, "Publish")
|
@Html.CanvasLink(Strings.MenuSettings, "Settings")
| <a href="@Url.Help()" target="_blank">@Strings.MenuHelp</a> 