@Html.ActionLink(Strings.MenuHome, "Index", "Home")
|
@Html.ActionLink(Strings.MenuPublish, "Publish", "Home")
|
@Html.ActionLink(Strings.MenuSettings, "Settings", "Home")
| <a href="@Url.Help()" target="_blank">@Strings.MenuHelp</a> 