<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteamAchievements.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SteamAchievements.Data.Properties.Settings.steamConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\John\Documents\Visual Studio 2008\Projects\FacebookSteamAchievements\SteamAchievements\App_Data\Steam.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <SteamAchievements.Data.Properties.Settings>
            <setting name="SteamRepositoryType" serializeAs="String">
                <value>SteamAchievements.Data.MockSteamRepository, SteamAchievements.Data</value>
            </setting>
        </SteamAchievements.Data.Properties.Settings>
    </applicationSettings>
</configuration>