@model SteamAchievements.Services.SteamProfile
<img id="profileImage" src="@Model.AvatarUrl" align="left" />
<h1 id="steamUserIdHeading">
    @Model.SteamUserId
</h1>
<span>@Model.Headline</span>
<br class="clear" />
