<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteamAchievements.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
        <compilation debug="true" />
    </system.web>
    <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
    <system.serviceModel>
        <services>
            <service name="SteamAchievements.Services.AchievementService" behaviorConfiguration="SteamAchievements.Services.AchievementServiceBehavior">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/SteamAchievements.Services/AchievementService/"   />
                    </baseAddresses>
                </host>
                <!-- Service Endpoints -->
                <!-- Unless fully qualified, address is relative to base address supplied above -->
                <endpoint address="" binding="wsHttpBinding" contract="SteamAchievements.Services.IAchievementService">
                    <!-- 
                          Upon deployment, the following identity element should be removed or replaced to reflect the 
                          identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
                          automatically.
                      -->
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <!-- Metadata Endpoints -->
                <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
                <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="SteamAchievements.Services.AchievementServiceBehavior">
                    <!-- To avoid disclosing metadata information, 
                        set the value below to false and remove the metadata endpoint above before deployment -->
                    <serviceMetadata httpGetEnabled="True" />
                    <!-- To receive exception details in faults for debugging purposes, 
                        set the value below to true.  Set to false before deployment 
                        to avoid disclosing exception information -->
                    <serviceDebug includeExceptionDetailInFaults="False" />
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="SteamAchievements.Services.AchievementServiceBehavior">
                    <webHttp />
                </behavior>
            </endpointBehaviors>
        </behaviors>
    </system.serviceModel>
    <applicationSettings>
        <SteamAchievements.Services.Properties.Settings>
            <setting name="AchievementTextRegex" serializeAs="String">
                <value>&lt;div class="achieveTxt"&gt;\s*&lt;h3&gt;(?&lt;name&gt;.*?)&lt;/h3&gt;\s*&lt;h5&gt;(?&lt;description&gt;.*?)&lt;/h5&gt;\s*&lt;/div&gt;</value>
            </setting>
            <setting name="AchievementImageRegex" serializeAs="String">
                <value>&lt;div class="achieveImgHolder"&gt;\s*&lt;img src="(?&lt;image&gt;.*?)"\swidth="64"\sheight="64"\sborder="0"\s+/&gt;\s*&lt;/div&gt;</value>
            </setting>
            <setting name="AchievementSeparatorRegex" serializeAs="String">
                <value>&lt;br /?&gt;\s*&lt;br /?&gt;\s*&lt;br /?&gt;</value>
            </setting>
        </SteamAchievements.Services.Properties.Settings>
    </applicationSettings>
</configuration>
