<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SteamAchievements.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <section name="facebookSettings" type="Facebook.FacebookConfigurationSection" />
        <sectionGroup name="elmah">
            <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
            <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
            <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
            <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
            <section name="errorTweet" requirePermission="false" type="Elmah.ErrorTweetSectionHandler, Elmah"/>
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    </appSettings>
    <connectionStrings>
        <add name="SteamAchievements.Data.Properties.Settings.steamConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Steam.mdf;Integrated Security=True;User Instance=True" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>
        <customErrors mode="Off"/>
        <authentication mode="Forms">
            <forms loginUrl="~/Admin/LogOn">
                <credentials passwordFormat="Clear">
                    <user name="admin" password="password" />
                </credentials>
            </forms>
        </authentication>
        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages" />
            </namespaces>
        </pages>
        <httpHandlers>
            <add verb="*" path="facebookredirect.axd" type="Facebook.Web.FacebookAppRedirectHttpHandler, Facebook.Web" />
        </httpHandlers>
    </system.web>
    <location path="Admin">
        <system.web>
            <authorization>
                <allow users="admin" />
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="Admin/PublishUserAchievements">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="Admin/GetAutoUpdateUsers">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true" />
        <handlers>
            <add name="facebookredirect.axd" verb="*" path="facebookredirect.axd" type="Facebook.Web.FacebookAppRedirectHttpHandler, Facebook.Web" />
        </handlers>
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <applicationSettings>
        <SteamAchievements.Web.Properties.Settings>
            <setting name="HelpUrl" serializeAs="String">
                <value>http://example.com/help</value>
            </setting>
            <setting name="TopAdMarkup" serializeAs="String">
                <value>&lt;p&gt;your ad code here&lt;/p&gt;</value>
            </setting>
            <setting name="BottomAdMarkup" serializeAs="String">
                <value>&lt;p&gt;your ad code here&lt;/p&gt;</value>
            </setting>
            <setting name="AutoUpdateAuthKey" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="FacebookProfileUrl" serializeAs="String">
                <value>http://www.facebook.com/AppProfile</value>
            </setting>
            <setting name="AnalyticsMarkup" serializeAs="String">
                <value>
                    &lt;script type="text/javascript"&gt;
                    // analytics script
                    &lt;/script&gt;
                </value>
            </setting>
            <setting name="DisclaimerMarkup" serializeAs="String">
                <value>&lt;p&gt;Footer&lt;/p&gt;</value>
            </setting>
            <setting name="UserVoiceMarkup" serializeAs="String">
                <value>
                    &lt;script type="text/javascript"&gt;
                    // feedback script
                    &lt;/script&gt;
                </value>
            </setting>
        </SteamAchievements.Web.Properties.Settings>
    </applicationSettings>
    <facebookSettings appId="your_app_id" appSecret="your_api_secret" canvasPage="http://apps.facebook.com/your_canvas_url/" canvasUrl="http://your.domain.com/" />
    <elmah>
        <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data/elmah" />
        <errorMail from="your@email.com" to="your@email.com" />
        <security allowRemoteAccess="yes" />
        <!-- ignore 404 errors -->
        <errorFilter>
            <test>
                <equal binding="HttpStatusCode" value="404" type="Int32" />
            </test>
        </errorFilter>
    </elmah>
</configuration>